body{
    background-color: rgb(195, 249, 240);
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(107, 45, 45);
    border-width: 5px;
    width: 5%;
}
h1,h3 {
    color: rgb(43, 48, 48);
}